# Minimal sample configuration file for Unicorn (not Rack) when used
# with daemonization (unicorn -D) started in your working directory.
#
# See http://unicorn.bogomips.org/Unicorn/Configurator.html for complete
# documentation.
# See also http://unicorn.bogomips.org/examples/unicorn.conf.rb for
# a more verbose configuration using more features.

listen 2007, :tcp_nopush => true # by default Unicorn listens on port 8080
timeout 30
worker_processes 4 # this should be >= nr_cpus
#preload_app true
working_directory "/var/www/localhost/colette"
pid "/var/www/localhost/colette/shared/pids/unicorn.pid"
stderr_path "/var/www/localhost/colette/shared/log/unicorn.log"
stdout_path "/var/www/localhost/colette/shared/log/unicorn.log"
