!!! 5
%html
  %head
    %title Refixative
    %link{rel: 'stylesheet', type: 'text/css', href:'/style'}
  %body
    != yield
    %hr
    %p
      query at
      = Time.now.getutc.strftime('%F %T')
      (UTC)
    %p
      Refixative -- REFLEC BEAT colette score tool
    %p
      <a href="https://twitter.com/maytheplic">@maytheplic</a> - May Akizuru
    %p
      Available on <a href="https://github.com/mayth/refixative">github</a>

