!!! 5
%html
  %head
    %title Refixative
    %link{rel: 'stylesheet', type: 'text/css', href:'/style.css'}
    %script{src: '/script/jquery-1.8.3.min.js'}
  %body
    != yield
    #footer
      %p
        query at
        = Time.now.getutc.strftime('%F %T')
        (UTC)
      %p
        Refixative -- REFLEC BEAT colette score tool
      %p== rev. #{settings.revision}
      %p
        <a href="https://twitter.com/maytheplic">@maytheplic</a> - May Akizuru

