%h1 曲データが見つかりませんでした
%p
  次の曲をデータベースから検索しましたが、該当する楽曲が見つかりませんでした:
  == 「#{@searching_name}」
- if @found_name
  %p
    この楽曲名と近い曲名を持つ楽曲は見つかりました:
    == 「#{@found_name}」
  %p
    データベース上の曲名とe-AMUSEMENT GATEの楽曲ページ上の曲名が食い違っている可能性があります。検索した曲名と、見つかった曲名を連絡していただければ幸いです。連絡先はトップページをご確認ください。
- else
  %p
    検索した楽曲名と近い曲名を持つ楽曲も見つかりませんでした。
  %p
    もし検索された楽曲が最近追加された楽曲である場合、まだデータベース上に情報が登録されていない可能性が高いです。情報が登録されるまで今しばらくお待ちください。最新の情報はTwitter上で発信します。当ツールのハッシュタグをご確認ください。
%p
  この他、保存したファイルに何らかの異常が発生した可能性も考えられます。楽曲データのページをもう一度保存して再度お試しください。
%ul
  %li
    %a{href: url('/')} トップページに戻る
  %li
    %a{href: url('/register')} 登録フォームに戻る
