%h1 スコア登録
%form{action: '/register', method: 'POST', enctype: 'multipart/form-data'}
  %p
    %label{for: 'profile'} プロフィール:
    %input{type: 'file', name: 'profile'}
  %p
    %label{for: 'music'} 楽曲データ:
    %input{type: 'file', name: 'music'}
  %p
    %input{type: 'submit', value: '送信'}

