body
  width: 80%
  margin: auto

h2
  background: #ffffff
  border-radius: 0 20px 20px 0 / 0 50% 50% 0
  width: 50%
  padding-left: 10px

h3
  background: #88f
  border-radius: 0 15px 15px 0 / 0 50% 50% 0
  width: 40%
  padding-left: 10px

#footer
  width: 50%
  margin: auto
  margin-top: 20px
  font-size: 75%
  text-align: center

#top_title
  text-align: center
  font-size: 130%
  p
    font-weight: bold

#link_register
  font-size: 150%
  font-weight: bold

.noplay
  color: #999
  text-align: center

.fullcombo
  background: #f66

.miss1
  background: #fcc

.miss2
  background: #fee

@import "winter"
