.row
  %h1
    Refixative
    %br
    %small Score Tool for REFLEC BEAT colette
.row
  .centered.four.columns
    .xlarge.primary.btn.pretty
      %a= t('view.home.score_reg')
.row
  %h1= t('view.home.about_head')
  %p= t('view.home.about')
.row
  %h1= t('view.home.info_head')
  %p placeholder...
