#home-banner
  .row#home-title
    %h1.small-12.columns
      Refixative
  .row#home-title-sub
    %h1.small-12.columns
      %small Score Tool for REFLEC BEAT colette
  .row
    .small-6.small-centered.columns
      %div{style: 'text-align: center;'}
        %a.large.primary.button= t('view.home.score_reg')
.row
  %h1= t('view.home.about_head')
  %p= t('view.home.about')
.row
  %h1= t('view.home.info_head')
  %p placeholder...
