@mixin line-top($black: .1, $white: 1.0) {
  border-top: 1px solid rgba(0, 0, 0, $black);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, $white) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, $white) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, $white) inset;
}

@mixin line-bottom($black: .1, $white: 1.0) {
  border-bottom: 1px solid rgba(0, 0, 0, $black);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, $white);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, $white);
  box-shadow: 0 1px 0 rgba(255, 255, 255, $white);
}

@mixin ts-white($op: .5) {
  text-shadow: -1px 1px 0 rgba(255, 255, 255, $op);
}

@mixin ts-black($op: .5) {
  text-shadow: 1px -1px 0 rgba(0, 0, 0, $op);
}
