$main-container-margin: 20px;

#main-container {
  padding: $main-container-margin 0;
  @include zurui-line-bottom;
}

footer {
  padding-top: 20px;
  background-color: lighten($body-bg, 2%);
}

[v-cloak] {
  display: none
}

.flash-wrapper {
  position: relative;
  z-index: 999;
  margin-top: -$main-container-margin;
  .flash {
    position: absolute;
    width: 100%;
    * {
      top: 0;
      left: 0;
      padding: 10px;
      text-align: center;
    }
    .notice {
      background: transparentize(#97FCBB, 0.2);
    }
    .alert {
      background: transparentize(#FCC097, 0.2);
    }
    .closing-instruction {
      font-size: 75%;
      padding: 0;
      text-align: right;
    }
    .close {
      font-size: 80%;
    }
  }
}