$main-container-margin: 20px;

#main-container {
  padding: $main-container-margin 0;
  @include zurui-line-bottom;
}

footer {
  padding-top: 20px;
  background-color: lighten($body-bg, 2%);
}

[v-cloak] {
  display: none
}