#players_show, #players_parse {
  dl {
    dt {
      clear: left;
      float: left;
      margin: 0 0 0.5em;
      width: 8em;
    }
    dd {
      margin: 0 0 0.5em;
    }
  }
}

#players_parse {
  td.new_play {
    background: #ffd6ad;
  }
  td.updated {
    background: #ffff9e;
  }
}